
body {
    background-image: url("../images/lghtmesh.png");
    
    margin: 0;

}


h1 {
    font-size: 18pt;
}

a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 66px;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    /* float: left; */


}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;

} */