
body {
    background-image: url("../images/lghtmesh.png");
    margin: 0;

}


h1 {
    font-size: 18pt;
}

/* a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
} */

.header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 66px;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    /* position: fixed; */

}


.header-left {
    float: left;
    margin-left: 200px;
    height: 66px;
}

.header-left h1 {
    height: 66px;
    padding: 20px 6px 0px 6px;
    background-color: #4aaaa5;
    font-family: font-family: 'Georgia', Times, Times New Roman, serif;
}


.header-right {
    float: right;
    margin-right: 50px; 
    height: 66px;
    width: 260px;
    
    text-align: center;
    padding-top: 20px;
    /* display: block; */


}

.header-right a {
    height: 66px;
    text-decoration: none;
    color: #cccccc;
    font-family: font-family: 'Georgia', Times, Times New Roman, serif;
    border-right: 10px;
    /* padding: 20px 4px 0px 4px; */
    


}

.header a:hover {
    background-color: #ddd;
    color: black;

  }

.col-1 a {
    border-right: 1pt solid;
    height: 16px;
    float: left;
    width: 30%;
    padding: 5.5px 1px 5.5px 1px;

}

.col-2 a {
    border-right: 1pt solid;
    height: 16px;
    float: left;
    width: 30%;
    padding: 5.5px 1px 5.5px 1px;

}

.col-3 a {
    height: 16px;
    float: left;
    width: 30%;
    padding: 5.5px 1px 5.5px 1px;

}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;

} */